<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>
        Dashboard
    </title>

    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th,
        #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header,
        #myTable tr:hover {
            background-color: #f1f1f1;
        }

        .landtable {
            text-align: center;
        }

        div {
            display: block;
        }

        .button {
            background-color: blue;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        .button:hover {
            opacity: 1
        }

        .dropdown {
            position: relative;
        }

        .dropdown:hover {
            background-color: lightgreen;
        }

        .dropdown-content {
            border-radius: 10px;
            text-align: left;
            border: 2px solid darkgreen;
            display: none;
            position: absolute;
            background-color: #34c959;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 0px 10px 0px 0px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700|Philosopher:700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/fav.ico' %}">
</head>

<body style="background-image: url('images/bg.jpeg');">
    <div id="google_translate_element" align="right"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <div style="width: 100%;" id="1">
        <div style="width: 90%; float: left;" align="left">
            <h1 style="font-family: 'Montserrat Subrayada', sans-serif; font-size:3rem">MY DASHBOARD</h1>
            <h2 style="color:blue"><span style="font-size: 2rem;">WELCOME</span>&nbsp&nbsp&nbsp&nbsp <span
                    style="color:#4DB828; font-family:'Philosopher', sans-serif;"> {{farmer.name}}</span></h2>

            <center>

                <table>
                    <tr>
                        <td> <b>Name</b></td>
                        <td>
                            :
                        </td>
                        <td> <b>{{farmer.name}}</b></td>
                    </tr>
                    <tr>
                        <td> <b>Residencial Address</b> </td>
                        <td>
                            :
                        </td>
                        <td> <b>{{farmer.residence}}</b> </td>
                    </tr>
                    <tr>
                        <td> <b>Mobile</b> </td>
                        <td>
                            :
                        </td>
                        <td> <b>{{farmer.mobile_number}}</b> </td>
                    </tr>
                    <tr>
                        <td> <b>Aadhar</b> </td>
                        <td>
                            :
                        </td>
                        <td> <b>{{farmer.aadhar}}</b> </td>
                    </tr>
                </table>
            </center><br>
        </div>
        <div style="width: 10%; float: right;" align="center" id="2">
            <h2 style="color: blue; font-family:'Philosopher', sans-serif; font-size:2rem;">{{farmer.user_name}}</h2>
            <img src="{% static 'images/user.png' %}" height="120" width="120">
            <form action="/dbms/dashboard/logout/" method="POST">
                {% csrf_token %}
                <input type="submit" value="Logout" class="button" style="width:120px" />
            </form><br><br><br>
        </div>
    </div>

    &nbsp
    <div>


        <h2 style="font-size:2rem">Land Details :</h2>
        <h5 style="text-align: right">* Move mouse over cell to view additional details.</h5>
        <hr size="5px" color="black">
    </div>
    <table border="1">
        <thead>
            <tr>
                <th width="10%">Land name</th>
                <th width="10%">Address</th>
                <th width="5%">District</th>
                <th width="5%">Soil Type</th>
                <th width="7%">Crop grown</th>
                <th width="5%">Moisture Required (%)</th>
                <th width="5%">Threshold Moisture (%)</th>
                <th width="5%">Expected Yield (Quintals)</th>
                <th width="10%">Expected Price (INR (&#x20B9;)/Quintal)</th>
                <th width="10%">Controls</th>
                <th width="10%">Irrigation Status</th>
                <th width="10%">System ID (*)</th>
                <th width="5%">Delete Land</th>
                <th width="3%">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for land in lands %}
            <tr>
                {% if land.request_status == 'True' %}
                <form action="deactivate_request/" method="POST" id='land_{{forloop.counter}}'>
                    {% csrf_token %}
                    <td><input type='text' style="width: 100%; border: none; background: none" name='land_name'
                            value='{{land.land_name}}' id='land_name_land_{{forloop.counter}}' readonly />
                    </td>
                    <td><input type='text' style="width: 100%; border: none; background: none" name='land_address'
                            value='{{land.land_address}}' id='land_address_land_{{forloop.counter}}' readonly /></td>
                    <td><input type='text' style="width: 100%; border: none; background: none" name='district'
                            value='{{land.district}}' id='district_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='soil_type'
                            value='{{land.soil_type}}' id='soil_type_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='crop_grown'
                            value='{{land.crop_grown}}' id='crop_grown_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none"
                            name='moisture_requirement' value='{{land.moisture_requirement}}'
                            id='moisture_requirement_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='threshold_moisture'
                            value='{{land.threshold_moisture}}' id='threshold_moisture_land_{{forloop.counter}}'
                            readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='expected_yield'
                            value='{{land.expected_yield}}' id='expected_yield_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='expected_price'
                            value='{{land.expected_price}}' id='expected_price_land_{{forloop.counter}}' readonly />
                    </td>
                    <td><input type="button" style="width: 100%; color: red" value="DEACTIVATE IRRIGATION"
                            onclick="deactivate('land_{{forloop.counter}}')" /></td>
                    <td class="landtable">Active</td>
                    <td class="dropdown landtable">
                        {{land.system_id}}
                        <div class="dropdown-content">
                            <ul>
                                <li>Public IP: <b>{{land.system_ip}}</b></li>
                                <li>Average Moisture: <b>{{land.average_moisture}}</b></li>
                                <li>Last Update: <b>{{land.last_update}} (IST)</b></li>
                            </ul>
                        </div>
                    </td>
                    <td><input type="button" style="width: 100%" id='button_land_{{forloop.counter}}'
                            value='Delete Land_{{forloop.counter}}' onclick="delete_land('land_{{forloop.counter}}')" />
                    </td>

                    <td><input type="button" id='edit_button_land_{{forloop.counter}}' value='Edit'
                            onclick="edit_land('land_{{forloop.counter}}')" />
                    </td>

                </form>
                {% elif land.request_status == 'Pending' %}
                <form action="cancel_request/" method="POST" id='land_{{forloop.counter}}'>
                    {% csrf_token %}
                    <td><input type='text' style="width: 100%; border: none; background: none" name='land_name'
                            value='{{land.land_name}}' id='land_name_{{forloop.counter}}' readonly />
                    </td>
                    <td><input type='text' style="width: 100%; border: none; background: none" name='land_address'
                            value='{{land.land_address}}' id='land_address_land_{{forloop.counter}}' readonly /></td>
                    <td><input type='text' style="width: 100%; border: none; background: none" name='district'
                            value='{{land.district}}' id='district_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='soil_type'
                            value='{{land.soil_type}}' id='soil_type_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='crop_grown'
                            value='{{land.crop_grown}}' id='crop_grown_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none"
                            name='moisture_requirement' value='{{land.moisture_requirement}}'
                            id='moisture_requirement_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='threshold_moisture'
                            value='{{land.threshold_moisture}}' id='threshold_moisture_land_{{forloop.counter}}'
                            readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='expected_yield'
                            value='{{land.expected_yield}}' id='expected_yield_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='expected_price'
                            value='{{land.expected_price}}' id='expected_price_land_{{forloop.counter}}' readonly />
                    </td>
                    <td><input type="submit" style="width: 100%; color: blue" value="Cancel Request"
                            onclick="this.setAttribute('disabled', 'true'), document.getElementById('land_{{forloop.counter}}').submit()" />
                    </td>
                    <td class="landtable">Request Pending</td>
                    <td class="landtable">{{land.system_id}}</td>
                    <td><input type="button" style="width: 100%" id='button_land_{{forloop.counter}}'
                            value='Delete Land_{{forloop.counter}}' onclick="delete_land('land_{{forloop.counter}}')" />
                    </td>

                    <td><input type="button" id='edit_button_land_{{forloop.counter}}' value='Edit'
                            onclick="edit_land('land_{{forloop.counter}}')" />
                    </td>

                </form>
                {% elif land.request_status == 'False' %}
                <form action="request_irrigation/" method="POST" id='land_{{forloop.counter}}'>
                    {% csrf_token %}
                    <td><input type='text' style="width: 100%; border: none; background: none" name='land_name'
                            value='{{land.land_name}}' id='land_name_land_{{forloop.counter}}' readonly />
                    </td>
                    <td><input type='text' style="width: 100%; border: none; background: none" name='land_address'
                            value='{{land.land_address}}' id='land_address_land_{{forloop.counter}}' readonly /></td>
                    <td><input type='text' style="width: 100%; border: none; background: none" name='district'
                            value='{{land.district}}' id='district_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='soil_type'
                            value='{{land.soil_type}}' id='soil_type_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='crop_grown'
                            value='{{land.crop_grown}}' id='crop_grown_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none"
                            name='moisture_requirement' value='{{land.moisture_requirement}}'
                            id='moisture_requirement_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='threshold_moisture'
                            value='{{land.threshold_moisture}}' id='threshold_moisture_land_{{forloop.counter}}'
                            readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='expected_yield'
                            value='{{land.expected_yield}}' id='expected_yield_land_{{forloop.counter}}' readonly />
                    </td>
                    <td class="landtable">
                        <input type='text' style="width: 100%; border: none; background: none" name='expected_price'
                            value='{{land.expected_price}}' id='expected_price_land_{{forloop.counter}}' readonly />
                    </td>
                    <td><input type="submit" style="width: 100%; color: green" value="Request Irrigation"
                            onclick="this.setAttribute('disabled', 'true'), document.getElementById('land_{{forloop.counter}}').submit()" />
                    </td>
                    <td class="landtable">Inactive</td>
                    <td class="landtable">{{land.system_id}}</td>
                    <td><input type="button" id='button_land_{{forloop.counter}}'
                            value='Delete Land_{{forloop.counter}}' onclick="delete_land('land_{{forloop.counter}}')" />
                    </td>
                    <td><input type="button" id='edit_button_land_{{forloop.counter}}' value='Edit'
                            onclick="edit_land('land_{{forloop.counter}}')" />
                    </td>
                </form>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="width: 100%" id="4">

        <div style="width: 50%; float: left;">
            <h3 style="font-size:2rem;" id = 'declr'>+ Add Location/Lands:</h3>
            <form action="/dbms/dashboard/newLocation/" method="POST" id="f_landadd">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Land Name</td>
                        <td><input type="text" value="" name="land_name" id = "f_land_name" required /></td>
                    </tr>
                    <tr>
                        <td>Land Address</td>
                        <td><input type="text" value="" name="land_address" id = "f_land_address" required /></td>
                    </tr>
                    <tr>
                        <td>District</td>
                        <td><input type="text" value="" name="district" id = "f_district" required /></td>
                    </tr>
                    <tr>
                        <td>Soil type</td>
                        <td><input type="text" value="" name="soil_type" id = "f_soil_type" required /></td>
                    </tr>
                    <tr>
                        <td>Crop Grown</td>
                        <!--td><input type="text" value="" name="crop_grown" required /></td-->
                        <td>
                            <select name="crops_dropdown" id='crops_dropdown' onclick="crop_handler()">
                                <option value="Select">Select</option>
                                {% for crop in crops %}
                                <option value="{{crop.crop_name}}">{{crop.crop_name}}</option>
                                {% endfor %}
                                <option value="Other">Other</option>
                            </select>
                            <input type="text" id="other_crop_box" value="" name="crop_grown" style='display: none' />
                        </td>
                    </tr>
                    <tr>
                        <td>Moisture Required (%age)</td>
                        <td><input type="number" value="" name="moisture_requirement" id="required" max=100 required />
                        </td>
                    </tr>
                    <tr>
                        <td>Threshold Moisture (%age)</td>
                        <td><input type="number" value="" name='threshold_moisture' id="threshold" max=100 required />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h2>The below two Data Fields are optional but filling them helps your customers
                                know about your yield and prices through <a href="/dbms/farmerSearch/">FarmerSearch
                                    !</a></h2>
                        </td>
                    </tr>
                    <tr>
                        <td>Expected Yield (Quintals)</td>
                        <td><input type="float" value="0.0" name="expected_yield" id = "f_expected_yield" required /></td>
                    </tr>
                    <tr>
                        <td>Expected Price (INR (&#x20B9;)/Quintal)</td>
                        <td><input type="float" value="0.0" name="expected_price" id = "f_expected_price" required /></td>
                    </tr>
                </table>
                <input type="submit" id="f_landadd_button" value="Add Land" onclick=check() class="button" />
                <input type="submit" id="f_cancel_button" value="Cancel" onclick=cancel() class="button" style="display: none"/>
            </form>
        </div>
        <br>
        <div style="width: 50%; float: right; border: 1px solid black; padding: 5px" id='crop_information'>
            <h3 style="font-size:2rem;">TechAtFarm's Recommendations :</h3>
            {% for crop in crops %}
            <div id='{{crop.crop_name}}' style="display: none">
                {{crop.recommendation}}<br>
                <h3>Moisture Requirement: {{crop.moisture_requirement}}%</h3>
                <h3>Threshold Moisture: {{crop.threshold_moisture}}%</h3>
            </div>
            {% endfor %}
            <div id='none' style="display: none"></div>
        </div>

    </div>
    <div style="width: 100%; float:left" id="5">
        <hr>
        <h2 style="font-size:2rem;"><strong>TechAtFarm's CropSearch :</strong></h2>
        <h4 style="letter-spacing:1px;">Search by crop name and get recommendations on best suited land/conditions/seasons/pesticides/fertilizers
            etc. by our Experts in the field !</h4>
        <hr>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Type Crop Name ..." title="Type in a name">

        <table id="myTable">
            <tr class="header">
                <th style="width:10%;">Crop Name</th>
                <th style="width:10%;">Moisture Requires (%age)</th>
                <th style="width:10%;">Threshold Moisture (%age)</th>
                <th style="width:70%;">Recommendations</th>
            </tr>
            {% for crop in crops %}
            <tr>
                <td>{{crop.crop_name}}</td>
                <td>{{crop.moisture_requirement}}</td>
                <td>{{crop.threshold_moisture}}</td>
                <td>{{crop.recommendation}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

<script>

    var prev_displayed_crop_div = 'none';

    function delete_land(mylandid) {
        if (confirm("Are you sure you want to delete this Land ? All data in this Land will be permanently deleted !")) {
            form = document.getElementById(mylandid);
            form.setAttribute('action', 'delete_land/');
            form.submit()
        }
    }

    function deactivate(mylandid) {
        var c = confirm("Are you sure you want to Deactivate Irrigation for this Land ? To activate irrigation you will have to send the request again and a New System ID will be alloted.");
        if (c == true) {
            form = document.getElementById(mylandid);
            form.submit()
        }
    }

    function crop_handler() {
        var crops_dropdown = document.getElementById('crops_dropdown');
        var selected_crop = crops_dropdown.value;
        var x = document.getElementById('other_crop_box');
        if (selected_crop == 'Other') {
            x.style.display = 'block';
            x.value = '';
            var prev_crop_inf = document.getElementById(prev_displayed_crop_div);
            prev_crop_inf.style.display = 'none';
            prev_displayed_crop_div = 'none'
        } else if (selected_crop == 'Select') {
            x.value = '';
            var prev_crop_inf = document.getElementById(prev_displayed_crop_div);
            prev_crop_inf.style.display = 'none';
            prev_displayed_crop_div = 'none'
        } else {
            x.style.display = 'none'
            x.value = selected_crop;
            var crop_inf = document.getElementById(selected_crop);
            crop_inf.style.display = 'block';
            var prev_crop_inf = document.getElementById(prev_displayed_crop_div);
            prev_crop_inf.style.display = 'none';
            prev_displayed_crop_div = selected_crop;
        }
    }

    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function check() {
        var req, th;
        req = parseInt(document.getElementById("required").value);
        th = parseInt(document.getElementById("threshold").value);
        if (th > req) {
            window.alert("Your threshold moisture was greater than required moisture.Please enter carefully!");
            document.getElementById("f_landadd").setAttribute("action", "/dbms/dashboard/");
        }
    }

    function edit_land(land) {
        document.getElementById('declr').innerHTML = 'EDIT'
        var land_name =  document.getElementById('f_land_name');
        var land_address =  document.getElementById('f_land_address');
        var district =  document.getElementById('f_district');

        land_name.value = document.getElementById('land_name_' + land).value;
        land_address.value = document.getElementById('land_address_' + land).value;
        district.value = document.getElementById('district_' + land).value;

        land_name.setAttribute('readonly','true')
        land_address.setAttribute('readonly','true')
        district.setAttribute('readonly','true')

        document.getElementById('f_soil_type').value = document.getElementById('soil_type_' + land).value;
        document.getElementById('other_crop_box').value = document.getElementById('crop_grown_' + land).value;
        document.getElementById('crops_dropdown').value = document.getElementById('crop_grown_' + land).value;
        document.getElementById('required').value = document.getElementById('moisture_requirement_' + land).value;
        document.getElementById('threshold').value = document.getElementById('threshold_moisture_' + land).value;
        document.getElementById('f_expected_yield').value = document.getElementById('expected_yield_' + land).value;
        document.getElementById('f_expected_price').value = document.getElementById('expected_price_' + land).value;

        var b = document.getElementById('f_landadd_button');
        b.value = 'Save';
        b.setAttribute('onclick', 'check(), edit()')

        document.getElementById('f_cancel_button').style = 'display:inline';
    }

    function edit(){
        form = document.getElementById('f_landadd')
        form.setAttribute('action','/dbms/dashboard/edit/')
    }

    function cancel(){
        document.getElementById('declr').innerHTML = '+ Add Location/Lands:'

        var land_name =  document.getElementById('f_land_name');
        var land_address =  document.getElementById('f_land_address');
        var district =  document.getElementById('f_district');

        land_name.value = ''
        land_address.value = ''
        district.value = ''

        land_name.removeAttribute('readonly')
        land_address.removeAttribute('readonly')
        district.removeAttribute('readonly')

        document.getElementById('f_soil_type').value = ''
        document.getElementById('other_crop_box').value = ''
        document.getElementById('crops_dropdown').value = 'Select'
        document.getElementById('required').value = ''
        document.getElementById('threshold').value = ''
        document.getElementById('f_expected_yield').value = ''
        document.getElementById('f_expected_price').value = ''

        var b = document.getElementById('f_landadd_button');
        b.value = 'Add Land';
        b.setAttribute('onclick', 'check()')

        document.getElementById('f_cancel_button').style = 'display:none';

    }
</script>

</html>