<html>

<head>
    <title>Login</title>
</head>

<body>
    <form action="/dbms/">
        <input type="submit" value="Back to HomePage">
    </form>
    <h1>Login to your Account</h1>
    <form action='/dbms/login/' method="POST">
        {% csrf_token %}
    <table>    
        <tr><td>Username</td><td><input type="text" value='{{username}}'
            name='user_name' required></td>&nbsp;<td style="color: red">{{username_status}}</td></tr>
        <tr><td>Password</td><td><input type="password" value="" 
            name='password'></td>&nbsp;<td><label style="color: red">{{pwd_status}}</td></tr>
    </table>
        <input type="submit" value="Login">
    
    </form>
</body>

</html>
