<html>
    <head>
        <title>Login Failed</title>
    </head>
    <body>
        <h1 style="font-size: 50px; font-family:'Times New Roman', Times, serif">Login Failed !!!</h1>
        <h1 style="font-family: 'Times New Roman', Times, serif">Username Entered : {{username}}</h1>
        <h1 style="color: red; font-family: 'Times New Roman', Times, serif">{{username_status}}{{pwd_status}}</h1>
        <form action="/dbms/">
            <input type="submit" value="Back to HomePage">
        </form>
    </body>
</html>